@model Movie
<div class="container">
    <div class="row">
        <div class="p-4 border rounded row" style="background-color:#ffffff">

            <div class="col-md-3 rounded-left border-secondary">
                <img src="@Model.Cover" width="100%" style="border-right:1px solid #bbb9b9;" />
                <br /><br />
                <div class="form-group">
                    <input hidden asp-for="@Model.Id" />
                    <a asp-action="Index" class="btn btn-success">Quay lại</a>
                </div>

            </div>
            <div class="col-1">
            </div>
            <div class="col-md-5">
                <h4>@Model.Title</h4>
                <hr />
                <h6 class="text-info">Thời lượng: @Model.Duration<span> phút</span></h6>
                <form asp-action="DetailsPost" asp-controller="Home" method="post">
                    <label class="text-info">Chi phí sx: @Model.Budget<span>$</span></label>
                    <div class="form-group border-light">
                        <div>
                            @Model.Description
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>